@model Exercises.Models.Data.Student
@{
    ViewBag.Title = "Delete";
}

<h2>Delete Student</h2>
@using (@Html.BeginForm("Delete", "Student", FormMethod.Post))
{
    @Html.HiddenFor(m => m.StudentId)
    <p>Are you sure you want to delete student @Model.FirstName @Model.LastName?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
    @Html.ActionLink("Cancel", "List", "Student", null, new { @class="btn btn-info"})
}




