@model CarDealershipMastery.UI.Models.HomePageVM

@{
    ViewBag.Title = "Index";
}

<h2>Home</h2>
<div class="container-fluid">
    <div id="maincarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#maincarousel" data-slide-to="0" class="active"></li>
            <li data-target="#maincarousel" data-slide-to="1"></li>
            <li data-target="#maincarousel" data-slide-to="2"></li>
            <li data-target="#maincarousel" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item-active">
                <div class="jumbotron">@Model.AllSpecials[0].SpecialText</div>
            </div>
            <div class="item">
                <div class="jumbotron">@Model.AllSpecials[1].SpecialText</div>
            </div>
            <div class="item">
                <div class="jumbotron">@Model.AllSpecials[2].SpecialText</div>
            </div>
            <div class="item">
                <div class="jumbotron">@Model.AllSpecials[3].SpecialText</div>
            </div>
            @*@foreach (var special in Model.AllSpecials)
            {
                <div class="item">
                    <div class="jumbotron">@special.SpecialText</div>
                </div>
            }*@
        </div>

        <a class="left carousel-control" href="#maincarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#maincarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>



<div class="row">
    @foreach (var v in Model.FeaturedVehicles)
    {
        <div class="col-xs-3" style="background-image: url('~/Website IMAGES/erica (7).jpg'); border:solid; margin: 10px">
            <div>@v.Year @v.VehicleModelId.ModelMake.MakeType @v.VehicleModelId.ModelType</div>
            <div>@v.Price.ToString("C")</div>

        </div>
    }
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="row" id="allRows">
        </div>
    </div>
</div>
