@model CarDealershipMastery.UI.Models.UpdateAccountViewModel

@{
    ViewBag.Title = "EditUsers";
}

<h2>@Model.UserName</h2>
<div class="container">
    <div class="col-xs-12">
            @using (Html.BeginForm("EditUsers", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                <div class="col-xs-6">
                    @Html.HiddenFor(m => m.UserId, new { @class = "form-control" })
                    <div class="form-group">
                        <label>First Name</label>
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Email Address</label>
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control loginPassword" })
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save Changes" class="btn btn-default" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-6">

                    <div class="form-group">
                        <label>Last Name</label>
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    </div>


                    <div class="form-group">
                        <label>Roles</label>
                        @Html.DropDownListFor(m => m.UserRole, Model.Roles, new { @class = "form-control" })
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control loginPassword" })
                    </div>
                </div>


            }
        </div>
    </div>
