
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>@Html.ActionLink("Search Vehicles", "Vehicles", "Inventory")</div>
<div>@Html.ActionLink("Add Vehicle", "AddVehicle", "Admin")</div>
<div>@Html.ActionLink("Manage Users", "GetUsers", "Admin")</div>
<div>@Html.ActionLink("Add User", "AddUser", "Admin")</div>
<div>@Html.ActionLink("Manage Specials", "Specials", "Admin")</div>
<div>@Html.ActionLink("Add Make", "Makes", "Admin")</div>
<div>@Html.ActionLink("Add Models", "Models", "Admin")</div>
<div>@Html.ActionLink("Reports", "Index", "Reports")</div>


