@model CarDealershipMastery.UI.Models.ManageSpecialsVM

@{
    ViewBag.Title = "Specials";
}

<h2>Specials</h2>
<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label>Title</label>
                    @Html.TextBoxFor(m => m.VMSpecial.SpecialTitle, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Description</label>
                    @Html.TextAreaFor(m => m.VMSpecial.SpecialText, new { @class = "form-control" })
                </div>
                <button type="submit">Save</button>
            </div>
        </div>
    }
    
    @foreach (var special in Model.VMAllSpecials)
    {
        <div style="border:solid; margin-top:10px;">
            <div>@special.SpecialTitle</div>
            <div>@special.SpecialText</div>
            @Html.ActionLink("Delete", "DeleteSpecial", "Admin", new { id = special.SpecialId }, null)


        </div>
    }
</div>

