@model Exercises.Models.ViewModels.StateEditVM
@{
    ViewBag.Title = "EditState";
}

<h2>Edit State</h2>
@Html.ActionLink("Return to list","States","Admin")

@using (@Html.BeginForm("EditState", "Admin", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(m => m.oldStateAbbrev)

        <label>Enter new state abbreviation</label>
        @Html.TextBoxFor(m => m.NewState.StateAbbreviation, new { @class = "form-control", placeholder = Model.NewState.StateAbbreviation })
        <label>Enter new state name</label>
        @Html.TextBoxFor(m => m.NewState.StateName, new { @class = "form-control", placeholder = Model.NewState.StateName })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}

